@page
@model ForgotPasswordModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/stylesheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="login-div flex-column-centered">
        <div class="login-comps">
            <h1 class="text-center">Forget Password</h1>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating d-flex flex-column">
                <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="Email Address" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <input type="submit" class="w-100 btn btn-lg btn-primary" value="Reset Password" />
        </form>
    </div>
</div>
</body>
</html>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
