@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/stylesheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="login-div flex-column-centered">
        <div class="login-comps rounded-3">
            <h2 class="text-center">Create a new Account.</h2>
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating d-flex flex-column">
                    <input asp-for="Input.Fname" autocomplete="username" aria-required="true" placeholder="First Name" />
                    <span asp-validation-for="Input.Lname" class="text-danger"></span>
                </div>
                <div class="form-floating d-flex flex-column">
                    <input asp-for="Input.Lname" autocomplete="username" aria-required="true" placeholder="Last Name" />
                    <span asp-validation-for="Input.Lname" class="text-danger"></span>
                </div>
                <div class="form-floating d-flex flex-column">
                    <input asp-for="Input.Address" autocomplete="username" aria-required="true" placeholder="Address" />
                    <span asp-validation-for="Input.Address" class="text-danger"></span>
                </div>
                <div class="form-floating d-flex flex-column">
                    <input asp-for="Input.Dob" type="text" autocomplete="username" aria-required="true" placeholder="Date of Birth" onfocus="this.type='Date'" />
                    <span asp-validation-for="Input.Dob" class="text-danger"></span>
                </div>
                <div class="form-floating d-flex flex-column">
                    <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="Email Address" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating d-flex flex-column">
                    <input asp-for="Input.Password" autocomplete="new-password" aria-required="true" placeholder="Password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating d-flex flex-column">
                    <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" placeholder="Confirm Password" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <input id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary" value="Registration" />
            </form>
        </div>
    </div>
</body>
</html>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
