@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/stylesheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="login-div flex-column-centered">
        <div class="login-comps rounded-3">
            <h1 class="text-center">Reset Password</h1>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />
             <div class="form-floating d-flex flex-column">
                <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="Email Address" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
                <div class="form-floating d-flex flex-column">
                    <input asp-for="Input.Password" autocomplete="current-password" aria-required="true" placeholder="Password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating d-flex flex-column">
                    <input asp-for="Input.Password" autocomplete="current-password" aria-required="true" placeholder="Password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            <input type="submit" value="Reset"/>
        </form>
    </div>
</div>
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
</html>